#torch==1.12.1+cu116
#torchvision==0.13.1+cu116 --extra-index-url https://download.pytorch.org/whl/cu116
torch==1.12.1
torchvision==0.13.1
openmim
gdown
seaborn
prettytable
matplotlib
pillow
numpy
dvclive
opencv-python